<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadowstorm.metrocab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->


    <!-- this new codes is not implemented in aashis project ``````````````````````````````````````````````````` -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.gnirt69.gcmexample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gnirt69.gcmexample.permission.C2D_MESSAGE" />

    <!-- ````````````up to here ````````go down```````````````````````````````````````````````````````````````````````````````` -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SignUpActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MapsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MapsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DriversMap"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DriversMap" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NetworkLocation"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.NetworkLocation" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".MyAddressLocationActivity"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.MyAddressLocationActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <!-- this new codes is not implemented in aashis project ``````````````````````````````````````````````````` -->

        <activity android:name=".changePassword"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.changePassword" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".confirmPhone"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.confirmPhone" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".callActivity"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.callActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".DriverPge"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.DriverPge" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name=".checkNotification"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.checkNotification" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver android:name="layout.metroCabWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/metro_cab_widget_info" />
        </receiver >
            <!-- ````````````up to here ``````end``````````````````````````````````````````````````````````````````````````````````````````` -->

    </application>

</manifest>